/* flex based styles */
.flex{
    display: flex;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

.spaceBtw{
    justify-content: space-between;
}

.jusCenter{
    justify-content: center;
}

.alignCenter{
    align-items: center;
}

.alignEnd{
    align-items: flex-end;
}

.alignCenterStart{
    align-items: flex-start;
}

.gap5{
    gap: 5px
}

.gap10{
    gap: 10px
}

.gap15{
    gap: 15px
}
/* font based styles */


.fontSize9{
    font-size: 9px;
}

.fontSize10{
    font-size: 10px;
}

.fontSize12{
    font-size: 12px;
}

.fontSize20{
    font-size: 20px;
}

.fontWeight500{
    font-weight: 500;
}

.fontWeight{
    font-weight: bold;
}

/* margin based styles */

.margin0{
    margin: 0;
}

.mrTop3{
    margin-top: 3px;
}

.mgTop5{
    margin-top: 5px;
}

.mrRight5{
    margin-right: 5px;
}

.mrBottom5{
    margin-bottom: 3px;
}

.mrRight10{
    margin-right: 10px;
}

.mrTop10{
    margin-top: 10px;
}

.margin20{
    margin: 20px 0;
}

/* misc */

.textCaptialise{
    text-transform: capitalize;
}

.greyTag{
    background-color: #e1eefe;
    color: #292929;
    font-size: 9px;
    padding: 1px 4px;
    margin-right: 10px;
}

.pdTop3{
    padding-top: 3px;
}

.textCenter{
    text-align: center;
}

.crPointer{
    cursor: pointer;
}

/* colors */

.green{
    color: #068122;
}

.black{
    color: #000;
    margin: 0 20px;
}

.darkBlue{
    color: #308fe8;
}   

.grey{
    color: #6c757d !important;
}

.red{
    color: #dc3545;
}

.tokenColor{
    background-color: #6e8edb !important;
}

.blackTheme{
    background-color: #c2bfba !important;
    color: #222;
}

/* icons */

.iconWidth25{
    width: 25px !important;
    height: 25px !important;
}

.iconWidth30{
    width: 30px !important;
    height: 30px !important;
}
